/* Estilos generales */

@import url('https://fonts.googleapis.com/css?family=Nunito:400,400i,700');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
    color: #3f3f3f;
    font-size: 20px;
    background-color: white;
}

a {
    text-decoration: none;
    color: #3f3f3f;
}

.sombraflecha {
    filter: drop-shadow(2px 2px 6px black);
}

h1, h2, h3 {
    margin-bottom: 25px;
}

@keyframes intermitente {
    0% {opacity: 0;}
    50% {opacity: 1;}
    100% {opacity: 0;}
}


/* Cabecera-barra de navegación */

.headerinicio {
    height: 90px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;    
    top: 0;
    padding: 20px 0;
    z-index: 1; 
    background-image: none;
    box-shadow: 0 0 0 transparent;
    border-radius: 0;
    border: transparent;
}

header {
    height: 90px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;    
    top: 0;
    padding: 20px 0;
    z-index: 1;
    border: solid 1px black;
    border-bottom: none;
    background-image: url('../img/fondosub.jpg');
    box-shadow: 0px 2px 8px black;
    border-radius: 0 0 15px 15px;
}

.franja {
    height: 20px;
    width: 100%;
    background-color: black;
    box-shadow: 2px 2px 6px black;
    position: fixed;
    top: 0;
    z-index: 2;
}

.logo {
    height: 60px;
    width: 80px;
    background-color: black;
    border-radius: 0 0 10px 10px;
    box-shadow: 2px 2px 2px black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 20px;
    margin: 10px 20px 20px 20px;
    z-index: 2;
}

.logo:hover {
    background-image: url('../img/logosombra.png');
    background-repeat: no-repeat;
    background-position: center;
}


.burger {
    font-size: 34px;
    display: none;
    z-index: 2;
}

nav {
    width: 400px;
    height: 50px;
    background-color: black;
    border-radius: 0 0 10px 10px;
    box-shadow: 2px 2px 2px black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 20px;
    margin: 18px 20px 20px 20px;
    z-index: 2;
}


nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    padding: 0 15px;
}

nav ul li a {
    color: rgb(255, 255, 255);
}

nav ul li a:hover {
    color: #c3ab26;
}

nav ul li a.activo {
    color: #c3ab26;
}


/* Hero */

.hero {
    height: 100vh;
    background-image: url('../img/casadelujo.jpg');
    background-position: top center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    box-shadow: 0px 4px 12px black;
}

.hero h1 {
    color: white;
    font-size: 65px;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.8);
}

.hero h2 {
    color: white;
    font-size: 35px;
    margin-bottom: 60px;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.8);
}

.hero a {
    color: white;
    font-size: 55px;
    margin-bottom: 60px;
    animation-name: intermitente;
    animation-duration: 1500ms;
    animation-iteration-count: infinite;
}
.hero a:hover {
    color: black;
}

/* Seccion */

.seccion {
    margin: 40px;
    display:flex;
    flex-wrap: wrap;
}

/* Empresa */

.empresa {
    padding: 30px 7%;
}

/* Paginas */

.paginas {
    margin: 10px; 
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.col {
    margin: 0 50px;
    padding: 10px;
    flex-basis: 300px;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

.btn {
    margin: 20px;
    color: white;
    font-size: 22px;
    padding: 10px;
    border-radius: 5px;
    background-color: #c3ab26;
    border: solid 1px transparent;
    box-shadow: 2px 2px 6px black;
}

.btn:hover {
    background-color: rgb(112, 112, 112);
}

/* Formulario newsletter */

.miniform {
    margin: 20px;
    width: 100%;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.miniform p {
    margin: 40px 20px 0 20px;
    color: #c3ab26;
    font-size: 28px;
    text-align: center;
    background-color: white;
}

.miniform input {
    border: solid 1px #c3ab26;
    color: #3f3f3f;
    font-size: 24px;
    padding: 10px;
}

.miniform .boton {
    border: solid 1px #c3ab26;
    background-color: #c3ab26;
    color: white;
    font-size: 24px;
    padding: 10px;
}

.miniform .boton:hover {
    background-color: rgb(112, 112, 112);
    border: solid 1px black;
}

/* Header para toda la web */

.comun {
    height: 90px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;    
    top: 0;
    padding: 20px 0;
}

/* Contendor */

.contenedor {
    margin-top: 100px;
    padding: 0 7%;
    margin-bottom: 20px;
}

.contacto {
    width: 100%;
    padding: 30px 7%;
    display: flex;
    justify-content: space-between;

}

/* Sección de Contacto */

.info {
    padding: 10px;
    flex-basis: 300px;
    flex-grow: 1;
}

.mapa {
    margin-left: 20px;
    padding: 10px;
    flex-basis: 300px;
    flex-grow: 2;
}

.legales h1 {
    font-size: 26px;
    padding-bottom: 10px;

}

.legales h1+h2 {
    padding-top: 20px;
}

.legales h2 {
    font-size: 18px;
    padding-top: 20px;
}

.legales p {
    font-size: 16px;
    padding: 10px;
    line-height: 1.5em;
}

.legales ul {
    padding-left: 40px;
}

.legales ul li {
    font-size: 16px;
    padding: 5px;
}

.contenedor2 {
    margin-top: 50px;
    padding: 0 7%;
    margin-bottom: 40px;
}

/* Formulario contacto */

form {
    margin-top: 30px;
    padding: 15px;
    border: solid 2px #c3ab26;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
form h3 {  
    font-size: 30px;
    padding-bottom: 5px;

}

.linea {
    margin-bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.enviar {
    align-self: flex-end;
}

form input {
    font-size: 20px;
    padding: 5px;
    border: solid 2px #c3ab26;
    width: 75%;
}

form input:focus {
    outline: none;
    background-color: #c3ab26;
    color: white;
}

form input::-webkit-input-placeholder {
    color: #c3ab26;
}


#boton {
    width: 90px;
    text-align: center;
    padding: 8px;
    font-size: 20px;
    background-color: #c3ab26;
    border: solid 1px black;
}

#nombre::-webkit-input-placeholder, #apellidos::-webkit-input-placeholder {
    background-image: url('../img/user1.svg');
    background-repeat: no-repeat;
    text-indent: 30px;
}

#telefono::-webkit-input-placeholder{
    background-image: url('../img/telefono.svg');
    background-repeat: no-repeat;
    text-indent: 30px;
}

#mail::-webkit-input-placeholder{
    background-image: url('../img/mail.svg');
    background-repeat: no-repeat;
    text-indent: 30px;
}

/* Comprar y Alquilar*/

.barranav {
    font-size: 18px;
    font-style: italic;
    color: #c3ab26;
}

.barranav a {
    text-decoration: none;
    color: black;
}

.barranav a:hover {
    color: #c3ab26;
}

.espacio {
    margin: 30px 0 20px 0;
}

.numeracion {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 50px 0;
}

.numeracion p a{
    margin: 0 10px;
    padding: 8px;
    font-size: 25;
    border: solid 1px black;
    box-shadow: 1px 1px 3px black;
}

.numeracion p a:hover {
    border: solid 2px black;
    padding: 12px 8px;
    color: black;
}

.numeracion .numeroactivo {
    border: solid 2px black;
    padding: 12px 8px;
    color: black;
}

/* Tarjetas */

.contprincipal {
    padding: 0 10%;
    margin: 20px;
    display: grid; 
    grid-template-columns: repeat(auto-fit, 300px);
    grid-template-rows: repeat(2, 430px);
    grid-gap: 40px;
    justify-content: center;
}

.tarjeta {
    border: solid 2px #c3ab26;
    border-radius: 0 0 12px 12px;
    width: 300px;
    height: 430px;
    box-shadow: 4px 4px 8px black;
}

.datos {
    padding: 10px;
    font-size: 18px;
}

.direccion {
    margin-top: 20px;
    font-size: 14px;
    font-style: italic;
    text-align: center;
}

.infop {
    padding: 20px 10px 10px 10px;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
}

.precio {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 19px;
    color: black;
}

.imagen {
    width: 100%;
    height: 200px;
    overflow: hidden;
    text-align: center;
}

.imagen img {
    width: 300px;
}

.details {
    display: flex;
    justify-content: center;
}

.btnp {
    text-decoration: none;
    background-color: #c3ab26;
    color: white;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    border-bottom: solid 4px #746200;
}

.btnp:hover {
    background-color: rgb(112, 112, 112);
    border-bottom: solid 4px black;
}

/* Detalles compra y alquiler*/

.detallado {
    margin: 0 10%;
    font-size: 20px;
    color: #3f3f3f;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

hr {
    width: 100%;
}

.detallado h1 {
    color: black;
    margin: 50px 0;
}

.detallado p {
    margin-bottom: 20px;
}

.detalladomapa {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.mapadet {
    margin: 60px 0;
    width: 80%;
    height: 400px;
}

.galeria {
    padding: 0 10%;
    margin: 20px;
    display: grid; 
    grid-template-columns: repeat(auto-fit, 400px);
    grid-template-rows: repeat(2, 350px);
    grid-gap: 30px;
    justify-content: center;
}

.gallery {
    width: 400px;
    height: 350px;
    box-shadow: 2px 2px 6px black;
}

.formulario {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Footer */

footer {
    margin-top: 100px;
    padding: 5px 50px;
    background-color: #000000;
        background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23c3ab26' fill-opacity='0.17' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
    color: white;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    box-shadow: 0px -4px 12px black;
}

.top {
    height: 40px;
    width: 40px;
    font-size: 36px;
    color: white;
    position: absolute;
    background-color: #000000;
        background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23c3ab26' fill-opacity='0.17' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px -4px 12px black;
}


footer p {
    font-size: 18px;
    padding: 5px;
}

footer p a {
    color: white;
}


.izdo {
    padding: 20px;
    flex-basis: 330px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.centro {
    padding: 0 20px 20px 20px;
    flex-basis: 330px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer a {
    color: white;
    font-size: 18px;
    padding: 5px;
}

footer a:hover {
    color: #c3ab26;
}
footer .activo {
    color: #c3ab26;
}


.dcho {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    flex-basis: 330px;
    flex-grow: 1;
}

.rrss {
    display: flex;
    justify-content: center;
    font-size: 50px;
    flex-grow: 1;
}

.logo2 {
    font-size: 40px;
    color: white;
}

.copy {
    padding: 5px;
    width: 100%;
}

.copy p {
    font-size: 14px;
    text-align: center;
}

@media (min-width: 1280px) {
    .hero {
        background-attachment: fixed;
    }
}

@media (max-width: 1150px) {
    
    .contacto {
        width: 100%;
        padding: 0px 7%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: wrap;
    
    }

    .info {        
        margin: 30px 5px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .info p {
        font-size: 18px;
    }

    form {
        margin-top: 30px;
        padding: 15px;
    }
    form h3 {  
        font-size: 26px;
    
    }

    form input {
        font-size: 18px;
        width: 60%;
    }

    #boton {
        font-size: 18px;
    }
}

@media (max-width: 780px) {

    .izdo, .centro, .dcho {
        flex-basis: 200px;
    }

    footer {
        margin-top: 100px;
        padding: 5px 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    /* Detalles compra y alquiler*/

.detallado {
    margin: 0 7%;
    font-size: 18px;
}

.detallado h1 {
    font-size: 30px;
}

.detallado p {
    text-align: left;
}


.barranav {
    font-size: 16px;
}

}

@media (max-width: 720px) {
   
    /* Inicio */

    .hero h1 {
        font-size: 50px;
    }
    
    .hero h2 {
        font-size: 20px;
        margin-bottom: 60px;
    }
    
    .hero a {
        font-size: 35px;
        margin-bottom: 60px;
    }

    .col {
        margin: 0 20px;
        padding: 10px;
        flex-basis: 200px;
    }

    .izdo, .centro, .dcho {
        flex-basis: 200px;
    }

    footer {
        margin-top: 100px;
        padding: 5px 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    /* Contacto */

    .contacto {
        width: 100%;
        padding: 30px 7%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .info {        
        margin: 30px 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;        
        flex-basis: 600px;
    }

   


    .linea {  
        margin-bottom: 70px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    form input {
        font-size: 17px;
        width: 90%;
    }
    
    .formulario form {
        height: 500px;
    }

    .enviar {
        align-self: center;
    }

}

@media (max-width: 640px) {

    /* Inicio */

    header a {
        text-decoration: none;
        color: white;
    }

    header a:hover {
        color: #c3ab26;
    }

    .headerinicio {
        height: 50px;
        width: 100%;
        background-color: black;
        padding: 20px 0;
        z-index: 1;
        padding: 5px 15px;
        box-shadow: 0px 2px 8px black;
    }

    header {
        height: 50px;
        width: 100%;
        background-color: black;
        padding: 20px 0;
        z-index: 1;
        padding: 5px 15px;
        background-image: none;
        border-radius: 0;
    }
    
    .franja {
        display: none;
    }
    
    .logo {
        height: 40px;
        width: 40px;
        background-color: black;
        padding: 0;
        margin: 0;
    }

    .headerinicio .peque {
        width: 40px;
        height: 40px;
    }

    .headerinicio .logo {
        height: 40px;
        width: 40px;
        background-color: black;
        padding: 0;
        margin: 0;
    }

    .peque {
        width: 40px;
        height: 40px;
    }
    
    .logo:hover {
        background-image: url('../img/logosombra2.png');
        background-repeat: no-repeat;
        background-position: center;
    }
    
    
    .burger {
        font-size: 28px;
        display: initial;
        z-index: 2;
        color: white;
    }
    
    nav {
        display: none;
    }

    .hero h1 {
        font-size: 35px;
    }
    
    .hero h2 {
        font-size: 20px;
        margin-bottom: 50px;
    }
    
    .hero a {
        font-size: 35px;
        margin-bottom: 50px;
    }

    .col {
        margin: 0 20px;
        padding: 10px;
        flex-basis: 200px;
    }

    .izdo, .centro, .dcho {
        flex-basis: 200px;
    }

    h1 {
        font-size: 28px;
    }

    .seccion {
        margin: 20px;
    }

    p {
        font-size: 17px;
    }

    .col {
        margin: 0 10px;
        padding: 10px;
        flex-basis: 130px;
    }

    .col img {
        width: 150px;
        height: 150px;
    }

    .btn {
        margin: 5px;
        font-size: 18px;
        padding: 5px 8px;
    }

    .miniform p {
        margin: 20px 10px 0 10px;
        font-size: 22px;
    }

    .miniform {
        margin: 10px;
        width: 100%;
    }
    
    .miniform input {
        font-size: 20px;
        padding: 5px;
    }
    
    .miniform .boton {
        font-size: 20px;
        padding: 5px;
    }

    footer {
        margin-top: 100px;
        padding: 5px 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .izdo, .centro, .dcho {
        flex-basis: 180px;
    }
    
        
    .formulario form {
        height: 400px;
    }
    
    /* Contacto */

    .contacto {
        width: 100%;
        padding: 30px 7%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .info {        
        margin: 30px 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;        
        flex-basis: 600px;
    }

    .info p {
        font-size: 17px;
    }

    form {
        margin-top: 30px;
        padding: 15px;
    }
    
    form h3 {  
        font-size: 22px;
    }

    form input {
        font-size: 17px;
        width: 90%;
    }

    #boton {
        font-size: 17px;
    }

/* Detalles compra y alquiler*/

.detallado {
    margin: 0;
    font-size: 18px;
    color: #3f3f3f;
    text-align: left;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
}

hr {
    width: 100%;
}

.detallado h1 {
    color: black;
    margin: 30px 0;
    font-size: 26px;
    text-align: left;
}

.detallado p {
    margin-bottom: 20px;
    text-align: left;
}

.detalladomapa {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.mapadet {
    margin: 60px 0;
    width: 100%;
    height: 300px;
}

.galeria {
    padding: 0 10%;
    margin: 20px;
    display: grid; 
    grid-template-columns: repeat(auto-fit, 380px);
    grid-template-rows: repeat(2, 330px);
    grid-gap: 30px;
    justify-content: center;
}

.gallery {
    width: 380px;
    height: 330px;
    box-shadow: 2px 2px 6px black;
}

.formulario {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.barranav {
    font-size: 16px;
}

.espacio h2 {
    font-size: 24px;
}

/* Tarjetas */

.contprincipal {
    padding: 0 10%;
    margin: 20px;
    display: grid; 
    grid-template-columns: repeat(auto-fit, 300px);
    grid-template-rows: repeat(2, 430px);
    grid-gap: 40px;
    justify-content: center;
}

.tarjeta {
    width: 300px;
    height: 430px;
}

.datos {
    padding: 10px;
    font-size: 18px;
}

.direccion {
    margin-top: 20px;
    font-size: 14px;
    font-style: italic;
    text-align: center;
}

.infop {
    padding: 20px 10px 0px 10px;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
}

.precio {
    padding: 10px 10px 20px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 19px;
    color: black;
}

.imagen {
    width: 100%;
    height: 200px;
    overflow: hidden;
    text-align: center;
}

.imagen img {
    width: 300px;
}

.details {
    display: flex;
    justify-content: center;
}

.btnp {
    text-decoration: none;
    background-color: #c3ab26;
    color: white;
    padding: 6px;
    font-size: 16px;
    border-radius: 5px;
    border-bottom: solid 4px #746200;
}

.btnp:hover {
    background-color: rgb(112, 112, 112);
    border-bottom: solid 4px black;
}

}

@media (max-width: 420px) {

/* Inicio */

    .hero h1 {
        text-align: center;
        font-size: 24px;
    }
    
    .hero h2 {
        font-size: 20px;
        margin-bottom: 50px;
        text-align: center;
    }
    
    .hero a {
        font-size: 24px;
        margin-bottom: 50px;
    }

    h1 {
        font-size: 18px;
    }

    .seccion {
        margin: 10px;
    }

    p {
        font-size: 16px;
    }

    .paginas {
        margin: 5px; 
        padding: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .col {
        margin: 0 10px;
        padding: 10px;
        flex-basis: 200px;
    }

    .col img {
        width: 150px;
        height: 150px;
    }

    .btn {
        margin: 5px;
        font-size: 18px;
        padding: 5px 8px;
    }

    .miniform p {
        margin: 20px 10px 0 10px;
        font-size: 18px;
    }

    .miniform {
        margin: 10px;
        width: 100%;
    }
    
    
    .miniform input {
        font-size: 18px;
        padding: 5px;
        width: 90%;
        margin: 5px;
    }
    
    .miniform .boton {
        font-size: 18px;
        padding: 5px;
        width: 65px;
    }

    footer {
        margin-top: 50px;
        padding: 5px 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .izdo {
        margin-top: 20px;
        flex-basis: 200px;
    }

    .centro {
        margin-top: 30px;
        flex-basis: 150px;
    }

    .dcho {
        flex-basis: 120px;
    }

    footer p {
        font-size: 14px;
        padding: 5px;
    }

    footer a {
        font-size: 14px;
    }
    
    .logo2 {
        font-size: 28px;
    }

/* Contacto */

    .contacto {
        width: 100%;
        padding: 30px 5%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .info {        
        margin: 10px 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        flex-basis: 600px;       
    }

    label {
        font-size: 15px;
    }

    .info p {
        font-size: 15px;
    }

    form {
        margin-top: 30px;
        padding: 15px;
    }
    
    form h3 {  
        font-size: 20px;
    }

    form input {
        font-size: 15px;
        width: 250px;
    }

    #boton {
        font-size: 15px;
    }

    .legales h1 {
        font-size: 20px;
    }

    .legales h2 {
        font-size: 17px;
    }

    .legales p {
        font-size: 15px;
    }

    .contenedor2 {
        margin-top: 20px; 
    }

/* Detalles compra y alquiler*/

.detallado {
    margin: 0;
    font-size: 16px;
    color: #3f3f3f;
    text-align: left;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
}

.detallado h1 {
    font-size: 24px;
}


.mapadet {
    margin: 60px 0;
    width: 100%;
    height: 200px;
}

.galeria {
    padding: 0 5%;
    grid-template-columns: repeat(auto-fit, 230px);
    grid-template-rows: repeat(2, 220px);

}

.gallery {
    width: 230px;
    height: 220px;
}

.formulario {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.barranav p {
    font-size: 14px;
}

.numeracion {
    width: 100%;
    display: flex;
    justify-content: center;
}

.numeracion p a{
    margin: 0 8px;
    padding: 6px;
    font-size: 22;
}

.numeracion p a:hover {
    padding: 10px 6px;
}

.numeracion .numeroactivo {
    padding: 10px 6px;
}

    
.formulario form {
    height: 400px;
}

/* Tarjetas */

.contprincipal {
    padding: 0 10%;
    margin: 20px;
    display: grid; 
    grid-template-columns: repeat(auto-fit, 250px);
    grid-template-rows: repeat(2, 380px);
    grid-gap: 40px;
    justify-content: center;
}

.tarjeta {
    width: 250px;
    height: 380px;
}

.datos {
    padding: 4px;
    font-size: 12px;
}

.direccion {
    margin-top: 7px;
    font-size: 12px;
    font-style: italic;
    text-align: center;
}

.infop {
    padding: 10px 10px 0px 10px;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}

.precio {
    padding: 10px 10px 20px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    color: black;
}

.imagen {
    width: 100%;
    height: 200px;
    overflow: hidden;
    text-align: center;
}

.imagen img {
    width: 300px;
}

.details {
    display: flex;
    justify-content: center;
}

.btnp {
    text-decoration: none;
    background-color: #c3ab26;
    color: white;
    padding: 1px 3px;
    font-size: 14px;
    border-radius: 5px;
    border-bottom: solid 4px #746200;
}

    
}

@media (max-width: 260px) {
    .numeracion {
        width: 200px;
        display: flex;
        justify-content: center;
    }
}